<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="./test/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false">
    <testsuites>
        <testsuite name="ES6">
            <directory>test/Peast/ES6</directory>
        </testsuite>
        <testsuite name="ES7">
            <directory>test/Peast/ES7</directory>
        </testsuite>
        <testsuite name="Traverser">
            <directory>test/Peast/Traverser</directory>
        </testsuite>
        <testsuite name="Renderer">
            <directory>test/Peast/Renderer</directory>
        </testsuite>
        <testsuite name="Node">
            <directory>test/Peast/Node</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib/Peast</directory>
        </whitelist>
    </filter>
</phpunit>