<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="./test/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false">
    <testsuites>
        <testsuite name="Peast">
            <file>test/Peast/PeastTest.php</file>
        </testsuite>
        <testsuite name="ES2015">
            <directory>test/Peast/ES2015</directory>
        </testsuite>
        <testsuite name="ES2016">
            <directory>test/Peast/ES2016</directory>
        </testsuite>
        <testsuite name="ES2017">
            <directory>test/Peast/ES2017</directory>
        </testsuite>
        <testsuite name="Traverser">
            <directory>test/Peast/Traverser</directory>
        </testsuite>
        <testsuite name="Renderer">
            <directory>test/Peast/Renderer</directory>
        </testsuite>
        <testsuite name="Node">
            <directory>test/Peast/Node</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>lib/Peast</directory>
        </whitelist>
    </filter>
</phpunit>